#
# Copyright (c) 2025 Seeed Technology Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

source "Kconfig.zephyr"
rsource "../../Kconfig"

menu "BLE WiFi Coexistence"

config COEX_SEP_ANTENNAS
	bool "Use separate antennas for BT and WLAN"
	default n
	help
	  Enable this if BT and WLAN use separate antennas.
	  Disable this (default) for shared antenna configuration.

config SR_PROTOCOL_BLE
	bool "Short Range protocol is Bluetooth LE"
	default y
	help
	  Indicates if the Short Range protocol is Bluetooth LE.

endmenu
